PORT=5000
MONGO_URI=mongodb+srv://khadijafatima2301_db_user:SNRukh8ygC6NgoFK@cluster0.iyaid5t.mongodb.net/notesapp?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=6f4d43c9b0cb00f618522f71d367a73e861d7003bf73fdb9314a24097b1af922
JWT_EXPIRES_IN=7d